%ol#inactive
  - if (@suggestions - @people.name_strings).size < 1
    #{t '.no_suggestions'}:
    %strong= "#{@people.last_name}"
  - else
    = render :partial => "name_string", :collection => @suggestions - @people.name_strings(true), :locals => { :person => @people, :selected => false }
