@import "bibapp.css";
/*
 * Choose two colors for your institution:
 * 1. A border color: #CC9933 (UW-Madison Gold)
 * 2. A heading color: #990000 (UW-Madison Red)
 * Add your colors below where necessary.
*/

.container {
 border-left:0px dotted #000;
 border-right:0px dotted #000;
}

#header {
	color:#333; /* Red */
 border-bottom: 3px double 	color:#333; /* Gold */
}

#header a{color:#333;} /* Red */
#filter {color:#CC9933;} /* Gold */

#footer {
	color:#A2A2A2;
	border-top: 0px solid #333;
	border-bottom: 0px solid #000; /* Gold */
	background: url('../../images/conicyt_logo.png'); background-repeat:no-repeat; background-position:right;
	position:relative;
	top:5px;}

#footer a {
	color:#333;
}

/* Style for displaying Deposit License Agreement, etc. in nice scrollable div */
.scrollarea {
    width: 550px;
    height: 250px;
    overflow: scroll;
}